In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('archive/accident.csv')
df.head()

   Age  Gender  Speed_of_Impact Helmet_Used Seatbelt_Used  Survived
0   56  Female             27.0          No            No         1
1   69  Female             46.0          No           Yes         1
2   46    Male             46.0         Yes           Yes         0
3   32    Male            117.0          No           Yes         0
4   60  Female             40.0         Yes           Yes         0

In [5]:
data = {
    'Age':[56, 69, 46, 32, 60],
    'Gender':['F', 'F', 'M', 'M', 'F'],
    'Speed_of_Impact':[27, 46, 46, 117, 40],
    'Helmet_Used':['No', 'No', 'Yes', 'No', 'Yes'],
    'Seatbelt_Used':['No', 'Yes', 'Yes', 'Yes', 'Yes'],
    'Survived': [1, 1, 0, 0, 0]
}
df = pd.DataFrame(data)
y = df['Survived']